/exps/cifar10/
/exps/mnist/
system_layer/clients/GAN_Task/__pycache__/ACGAN_client.cpython-310.pyc
system_layer/clients/GAN_Task/__pycache__/GAN_client_base.cpython-310.pyc
system_layer/servers/GAN_Task/__pycache__/ACGAN_server.cpython-310.pyc
system_layer/servers/GAN_Task/__pycache__/GAN_server_base.cpython-310.pyc
/results/
/models/
/exps/har/
/exps/FER/
/exps/fmnist/
